<!DOCTYPE html>
<html>
<head>
	<title>Quiz World</title>
	<link rel="icon" href="/Images/favicon.png" type="image/gif" sizes="16x16">
	<!--CSS Files-->
	 <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
	 <link rel="stylesheet" href="/stylesheets/footer.css">
    <!-- Bootstrap-->
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  	<link href="https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap" rel="stylesheet">

  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
</head>
<body>
	<div class="stk">
	<nav>
		<div class="logo">
			<h2 style=" font-family: 'IM Fell Great Primer SC', serif;">Quiz World</h2>
		</div>
		<div class="menu">
			<ul>
				<a href="/signin">Sign In</a>
				<a href="/signup">Sign Up</a>
			</ul>
		</div>
	</nav>
	<div class="header">
	<section class="header-section">
		<div class="center-div">
			<img src="/Images/quiz world whitet.png" alt="">
			<h1 class="font-weight-bold">Quiz World</h1>
			<p>A revolutionary way to educate</p>
		</div>
	</section>
	</div>
	<!--***********************header parts end *********************-->
<!--***********************Find more div starts *********************-->
<section class="header-extradiv">
	<div class="container">
		<div>
			<h2>This is how it works</h2>
		</div>
		<div class="row">
			<div class="extra-div col-lg-6 col-md-6 col-12">
				<a href="#"><i class="fa fa-user-plus fa-5x" aria-hidden="true"></i></a>
				<h2>Sign Up</h2>
				<p>If you are teacher then sign up as a teacher and create a class name.If you are a student just sign up then enter class name and start your quiz.</p>
				</div>

			<div class="extra-div col-lg-6 col-md-6 col-12">
				<a href="#"><i class="fa fa-sign-in fa-5x" aria-hidden="true"></i></a>
				<h2>Sign in</h2>
				<p>If you are a teacher then sign in and manage your quiz paper and inform the class name of those students who are giving that quiz...  </p>
			</div>
		</div>
	</div>
	
</section>
<!--***********************find more div end *********************-->

<!--***********************About Section starts *********************-->
<section class="header-extradiv serviceoffers">
	<div class="container">
		<div>
			<h2>About Quiz World</h2>
		</div>
					<div class="extra-div col-lg-12 col-md-12 col-12">
						<img src="/Images/quiz worlds.png" alt="">
						<p>Quiz world is an online quiz creation tool that allows the creation of private tests. The tool lets you define various quiz settings with ease like test duration, randomizing questions, instant feedback, choosing from multiple question types, custom certificate creation and branding, and automatic grading. It is a good choice to create tests for digital classroom courses, distance learning tests, practice tests, aptitude tests, and more. You could even integrate the test results into your website using the tool’s web API.</p>
					</div>
				</div>
			</div>
</section>
<!--***********************About Section end *********************-->

<!--***********************Footer Start *********************-->
<footer class="contact-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3">
				<div class="contact-content text-center">
					<div class="contact-social">
						<ul>
							<li><a href="https://web.facebook.com/nouman.arain.524" title="Developer's Facebook Profile"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></li>
							<li><a href="#" title="Developer's Whatsapp Nummber: +923133493416"><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></a></li>
							<li><a href="#" title="Developer's Twitter Id"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></li>
							<li><a href="https://www.linkedin.com/in/muhammad-nouman-arain-b448b81a3/" title="Developer's Linkedin Profile"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></li>
							<li><a href="https://www.instagram.com/noumanarain53/?hl=en" title="Developer's Instagram Profile"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
							<li><a href="#" title="Potfolio of Website Developer"><i class="fa fa-user-o fa-2x" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	<p style="color: white;">©2020|All Rights Reserved By Quiz World | Developed & Maintained by Nouman</p>
	</div>
</footer>
<!-- =============== Footer end ====================-->
</div>
</body>
</html>